@import "tailwindcss";
/* @tailwind utilities; */

:root {
  --background: #F7F7F5;
  --foreground: #111827;
  --brand-orange: #EA580C;
}

@layer theme {
  @theme inline {
    --font-inter: var(--font-inter);
    --font-manrope: var(--font-manrope);
    --font-mono: var(--font-mono);
  }
}

body {
  background: var(--background);
  color: var(--foreground);
  font-family: var(--font-inter), sans-serif;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: var(--font-manrope), sans-serif;
}

.font-mono {
  font-family: var(--font-mono), monospace;
}

/* Custom Scrollbar */
::-webkit-scrollbar {
  width: 8px;
  height: 8px;
}

::-webkit-scrollbar-track {
  background: transparent;
}

::-webkit-scrollbar-thumb {
  background: #E5E7EB;
  border-radius: 0px;
}

::-webkit-scrollbar-thumb:hover {
  background: #D1D5DB;
}@media print { body * { visibility: hidden; } .print-receipt, .print-receipt * { visibility: visible; } .print-receipt { position: absolute; left: 0; top: 0; width: 100%; margin: 0; padding: 0; box-shadow: none !important; border: none !important; } .print\:hidden { display: none !important; } }
